body{
    overflow-x: hidden;
     font-family: 'Times New Roman', Times, serif;
     padding: auto;
}

#logo{
    padding-left: 0px;
    margin: 0px;
    position: relative;
}

nav{
    background-color: white;
     display: flex;
     width: 1450px;
     height: 80px;
     gap: 5px;
     
 }

 #sticky{
    position: sticky;
    top: 0px; /* Stays 0px from the top of the viewport */
    margin-left:-8px;
    z-index:1000;
 }

 .navbar{
    height: 60px;
    display: inline; 
    display: flex;
}

.navbar ul li {
    list-style: none;
    display: inline;
    padding-left: 30px;
    font-size: 21px;
    text-decoration: none;
   
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    
}

.navbar ul li a:link{
    color: black;
}

.navbar ul li a:visited{
    color: black;
    font-size: 25px;
}

.navbar ul li a:hover{
    color: rebeccapurple;
    font-size: 28px;
}

.navbar ul li a:active{
    color: darkcyan;
    font-size: 22px;
}

.navbar ul li a:focus{
    color: blue;
}

.navbar ul button a{
    text-decoration: none;
    color: white;
    background-color: rgb(8, 180, 143);
    border-radius: 10px;
     font-size: 18px;
}

.navbar ul button{
    background-color: rgb(8, 180, 143);
    border-radius: 10px;
    width: 90px;
    height: 35px;
    margin-right: 5px;
    margin-left: 8px;
    position: relative;
    right:130px; 
}

#posi{
    position: relative;
    left: 26px;
    top: 5px;
}

#size{
    position: relative;
    right: 70px;

    
}

#si{
    margin-left: 110px;
    font-size: 18px;
    color: rgb(83, 0, 128);
    position: relative;
    right:130px; 
}

#tn{
    font-size: 15px;
}

#st{
    display: list-item;
}

#wdiv{
    background-color: rgba(70, 0, 128, 0.812);
    width: 1280px;
    height: 850px;
    padding-left: 0px;
    margin-left: -10px;
}

#rdiv{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color: white;
    height: 320px;
    width: 380px;
    border-radius: 10px;
    text-align: center;
    box-shadow: black;
    position: relative;
    right: 400px;
    bottom: -80px;

}

#img{
    position: relative;
    bottom:60px;
    right: 0px;
    border-radius:50%;

}


#see{
position: relative;
bottom: 50px;
}

#que{
    font-size: 20px;
    position: relative;
    bottom: 50px;

}

#select{
    border-radius:5px;  
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding-left:20px;
    position: relative;
    bottom: 60px;
}

#next{
    position: relative;
    bottom: 50px;
}

#ldiv{
    float: left;
    margin-top: 50px;
    margin-left: 100px;
    color: white;

    
}

#put{
    font-size: 50px;
}

#flexdiv{
    display: flex;
}
div ul li{
    margin-top: 0px;
    float: top;
    padding-bottom: 12px;
    list-style: none;
    position: left top;
    
}
.mark{
    position: relative;
    top: 20px;
    left:-20px;
    color: rgb(0, 200, 255);
}

#images{
    position: relative;
    right: 40px;
}
#h2{
    font-family: 25px;
    font-size: 30px;
}

#li{
    font-size: 17px;
}

#icon1{
    position: relative;
    bottom: 50px;
    left: 75px;

}

#icon2{
    position: relative;
    bottom: 50px;
    left: 75px;

}

#icon3{
    position: relative;
    bottom: 50px; 
    left: 100px;

}

#icon4{
    position: relative;
    bottom: 50px;
    left: 65px;

}
#nextone{
    justify-content: space-between;
    background-color: rgba(100, 0, 128, 0.058);
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 1400px;
    padding-top: 100px;
    padding-bottom: 0px;
    margin-left: -100px;
    font-size: 20px;
    }
    
}
div p{
    font-size: 500px;
}
#nexttwo{
    text-align: center;
    
}
#cap{
    position: relative;
    bottom: 0px;
    left: 10px;
    font-size: 50px;
    
}
#p{
    font-size: 25px;
    text-align: center;
    
}

#vid video{
    border: top right bottom left;
    justify-content: center;
    position: relative;
    left: 320px;
    top: 30px;
    
}

#didu{
    display: flex;
    justify-content: space-around;
    width: 1280px;
    height: 250px;
    background-color: rgba(100, 0, 128, 0.048);
    font-size: 13px;
    position: relative;
    bottom: -25px;
}

#imgs{
    padding-top: 80px;
    padding-left: 100px;
} 

#did{
    font-size: 18px;
    color: rgb(73, 0, 128);
    position: relative;
    top: 70px;
    right: 0px;
}

#bam{
    font-size: 28px;
    position: relative;
    top: 100px;
    right: 200px;
}


#one{
    font-size: 45px;
    text-align: center;
    position: relative;
    bottom: -100px;
}

#color{
    color: rgba(77, 0, 128, 0.62);
}

#b{
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 23px;
    font-weight: ;
}

#img1{
    font-size: 20px;
    font-weight: 80;
    text-align: left;
    position: relative;
    left: 180px;
    top: 250px;
}

#i2{
    color: rgb(77, 0, 128); 
    font-size: 18px;
    text-underline-offset: 8px;
}

#img2{
    position: relative;
    bottom: 30px;
    left: 700px;
}
#img3{
    position: relative;
    top: 20px;
    left: 110px;
}

#h02{
    font-size: 20px;
    font-style: 100;  
    position: relative;
     left:730px ;
     bottom: 370px;
  }
  
#hr{
      text-decoration: underline;
      text-underline-offset: 8px;
      color: rgb(77, 0, 128); 
  }
  
#policy{
      font-weight: 0;
      font-size: 28px;
  }
  
#auto{
      font-weight: 80;
  
  }

  #p03{
    font-size: 20px ;
    position: relative;
    bottom: 150px;
    left: 170px;
   
}

#train{
    font-weight: 0;
    font-size: 28px;

}

#bambe{
    font-weight: 80;

}

#t03{
    text-decoration: underline;
    text-underline-offset: 8px;
    color: rgb(77, 0, 128); 
}

#img4{
    position: relative;
    left:800px ;
    bottom: 450px;
}

#img5{
    position: relative;
    bottom: 300px;
    left: 230px; 
}

#s04{
    
    text-decoration: underline;
    text-underline-offset: 8px;
    color: rgb(77, 0, 128); 
}

#deliver{
    font-weight: 0;
    font-size: 28px;
}

#report{
    font-weight: 80;
}

#staff4{
    font-size: 20px ;
    position: relative;
    left:750px ;
    bottom: 620px;
}

#under5{
    font-size: 20px;
    position: relative;
    bottom: 400px;
    left: 190px; 
}

#u05{
    text-decoration: underline;
    text-underline-offset: 8px;
    color: rgb(77, 0, 128); 
}

#create{
    font-weight: 0;
    font-size: 28px;
}

#voice{
    font-weight: 80;
}

#img6{
    position: relative;
    left:750px ;
    bottom: 700px;
}

#img7{
    position: relative;
    bottom: 550px;
    left: 290px; 
}

#com6{
    font-size: 20px ;
    position: relative;
    left:790px ;
    bottom: 850px;
}

#c06{
    text-decoration: underline;
    text-underline-offset: 8px;
    color: rgb(77, 0, 128); 
}

#comply{
    font-weight: 0;
    font-size: 28px;
}

#state{
    font-weight: 80;
}

#two{
    font-size: 14px;
    height: 360px;
    width: 1280px;
    background-color: rgba(100, 0, 128, 0.048);
    position: relative;
    bottom: 700px;

}
#img8{
    position: relative;
    left: 0px;  
}

#last{
    position: relative;
    font-weight: 80;
    
}

#img9{
    position: relative;
 left: 1200px;  
}

#img10{
    position: relative;
    left: 780px;
    top: 90px;
}

#bryan{
    font-weight: 550;
    color: rgb(77, 4, 117);
    font-size: 22px;
    position: relative;
    left: 896px;
    top: 18px;
}

#owner{
    font-weight: 100;
    font-size: 18px;
    color: rgb(60, 58, 58);
    position: relative;
    left: 896px;
    top: 8px;
} 


